<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="5e306a81-f074-4d70-8d92-bf69e7331a7e" Publisher="CN=Dan" Version="1.0.0.0" />
  <Properties>
    <DisplayName>GreenP</DisplayName>
    <PublisherDisplayName>Dan</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="GreenP.App">
      <VisualElements DisplayName="GreenP Parking Interactive Map" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="This app helps you find a GreenP parking lot in Toronto near you!" ForegroundText="light" BackgroundColor="#007700">
        <DefaultTile ShowName="allLogos" ShortName="GreenP Map" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>